@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: "Inter";
    font-weight: normal ;
    font-style: normal;
    src: url('Asimovian-Regular.tft()');
}

h1 {
    color: aquamarine;
    background-color:blue;
    font-family: "Inter";
    font-size: large;
}



